#back {
    background-color: gray;
}
#body {
    width: 1440px;
    height: 2482px;
    margin: 0 auto;
    background-color: white
}
#nav {
   
    width: 1440px;
    height: 85px;
    padding: 7px 127px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 100px 5px  rgba(117, 195, 16, 1);
    
    

   

     
}
#Portfolio {
    position: relative;
    width: 252px;
    height: 49px;
    padding: 10px;
    float: left;
    left:  -5%;
     font-size: 20px;
    
    
}
.div {
    position: relative;
    width: 675px;
    height: 44.54px;
    float: left;
    left: 20%;
}
#Home {
    float: left;
    position: relative;
    right: 10%;
    top: -13%;
    font-size: 20px;
     
    

}
#About {
    position: relative;
    float: left;
     right: 5%;
      top: -13%;
      font-size: 20px;
     
     color: rgba(117, 195, 16, 1);
    
     

}
#Design {
    position: relative;
    float: left;
     top: -13%;
      font-size: 20px;
    
     color: rgba(117, 195, 16, 1);
     

}
#lllustration {
    position: relative;
    float: left;
    left:  5%;
     top: -13%;
      font-size: 20px;
     
     color: rgba(117, 195, 16, 1);


    

}
#Contact {
    position: relative;
    float: left;
    left:  10%;
    top: 10%;
    border-radius: 30px;
    background:  rgba(117, 195, 16, 1);
    color: aliceblue;
    border-color: rgba(117, 195, 16, 1);
    size: 15px;
    width: 149px;
    height: 44.54px;


     
}
#image01 {
    width: 514px;
    height: 513px;
    position: relative;
    right: 12%;
    float: left;
    right: 5%;
}
.div02 {
    position: relative;
    width: 1440px;
    height: 697px;
    top: 8px;
    padding: 92px 127px;
    left: 12%;
  
}
#div03 {
    position: relative;
    width: 569px;
    height: 345px;
    float: left;
    top: 10%;
    border-radius: 30px;
    left: 15% ;
}
#button {
    position: relative;
    width: 184px;
    height: 55px;
    border-radius: 30px;
    background-color: rgba(117, 195, 16, 1);
    border-color: rgba(117, 195, 16, 1);
    color: aliceblue;
    left: 61%;

}
#div04 {
    position: relative;
     width: 1440px;
     height:343px ;
     bottom: 7%;
     left: 11%;
     
    
    text-align: center;
}
#button02 {
    position: relative;
    width: 184px;
    height: 55px;
    border-radius: 30px;
    background-color: rgba(117, 195, 16, 1);
    border-color: rgba(117, 195, 16, 1);
    color: aliceblue;
    
    bottom: 9%

}
#Satisfaction {
    position: relative;
    left: 10%;
    font-size: 64px;
  
    
}
#p {
    position: relative;
    left: 38%;
    bottom: 5%;
    font-size: 20px;
}


#div05 {
    width: 1368px;
    height: 583px;

}
.div06 {
    width: 382px;
    height: 485px;
    
    float: left;
    text-align: center;
    border: solid 3px rgba(117, 195, 16, 1);
    border-radius: 22px;
}
#Clients {
    font-size: 64px;
}
#text {
    font-size: 20px;
    position: relative;
    bottom: 9%;
}
    

