#container {
    width: 616px;
    height: 841px;
    border-radius: 24px;
    background-color: rgba(32, 33, 40, 1);
}

.buttons {
    position: relative;
    height: 552px;
    background-color: rgba(38, 40, 49, 1);
    border-radius: 24px;
    top: 34%;

}

button {
    position: relative;
    border: 4px white 4px;
    border-radius: 8px;
    margin: 15px;
    width: 114px;
    height: 72px;
    font-size: 33px;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    left: 2%;
    top: 18px;


}

#AC {
    color: rgba(144, 202, 249, 1);
}

#C {
    color: rgba(144, 202, 249, 1);
}

#precent {
    color: rgba(144, 202, 249, 1);
}

#zero {
    width: 260px;
}

#division {
    color: rgba(229, 115, 115, 1);
}

#multiply {
    color: rgba(229, 115, 115, 1);
}

#subtract {
    color: rgba(229, 115, 115, 1);
}

#plus {
    color: rgba(229, 115, 115, 1);
}

#equal {
    background-color: rgba(229, 115, 115, 1);
}
#divide {
    color: rgba(229, 115, 115, 1);
}

#p {
    position: relative;
    color: white;
    font-size: 23px;
    top: 5%;
    left: 4%;

}

#output {


    position: relative;
    display: flex;
    justify-content: right;

    font-size: 58px;
    color: white;
    bottom: -28%;


    height: 30px;

}